

<div class="container">
<button type="button" class="btn btn-primary" (click)="createStory()">Create Story</button>
  <h2 class="display-4">Story List</h2>
  <hr/>
  <div class="row my-5">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
<!--        <th>Detail View</th>-->
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let story of storyList|async">
<!--        <td><a (click)="selectStory(story)" class="link">{{story.title}}</a> </td>-->
          <td><a [routerLink]="['/stories/story',story.id]" class="link">{{story.title}}</a> </td>
        <td>{{story.author}}</td>
        <td>{{story.genre}}</td>
<!--          <td><a [routerLink]="['/stories/story',story.id]" class="link">Details</a> </td>-->
      </tr>
      </tbody>
    </table>

    <router-outlet></router-outlet>


  </div>
<!--  <div *ngFor="let story of storyList|async">-->
<!--    {{story.id}} &nbsp; {{story.title}}-->
<!--</div>-->
</div>
