<div class="container" *ngIf="plotlist">

  <div class="col-md-2">
    <button type="button" class="btn btn-outline-success" routerLink="new">Add Plot</button>
  </div>
 <div class="row">
    <div class="col-md-4" >

      <table class="table">
        <thead>
        <tr>
          <th>Name</th>


        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let plot of plotlist">
          <td><button type="button" class="btn btn-sm btn-outline-success" [routerLink]="[plot.id]">{{plot.name}}</button></td>
          <app-plot-loop [plotlist]="plot.subplots" ></app-plot-loop>
        </tr>
        </tbody>
      </table>
    </div>

  <div class="col-md-6">
  <router-outlet></router-outlet>
</div>
  </div>


<!--  <table class="table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Name</th>-->


<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let plot of plotlist">-->

<!--            <app-plot-loop [plotlist]="plot.subplots" *ngIf="plot.subplots"></app-plot-loop>-->
<!--&lt;!&ndash;      <td><a class="link" [routerLink]="[plot.id]">{{plot.name}}</a></td>&ndash;&gt;-->
<!--    </tr>-->
<!--    </tbody>-->



<!--  </table>-->

<!--  </div>-->

<!--</div>-->


</div>
