<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" routerLink="plots" routerLinkActive="active">Plots</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="scenes" routerLinkActive="active">Scenes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="persons" routerLinkActive="active" >People</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="events" routerLinkActive="active" >Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="locations" routerLinkActive="active">Locations</a>
            <!--        </li>-->
          <li class="nav-item">
            <a class="nav-link" routerLink="things" routerLinkActive="active">Things</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container">
  <form class="my-5" #form=ngForm>


    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="new-title">Title:</span>
      </div>
      <input class="form-control col-md-8" type="text" name="title" id="es-title" [(ngModel)]="story.title "/>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="new-author">Author:</span>
      </div>
      <input class="form-control" type="text" name="author" id="es-author" [(ngModel)]="story.author "/>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="new-genre">Genre:</span>
      </div>
      <input class="form-control" type="text" name="genre" id="es-genre" [(ngModel)]="story.genre "/>
    </div>

    <div class="row">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="new-maguffin">Maguffin:</span>
        </div>
        <textarea class="form-control" name="maguffin" id="es-maguffin" [(ngModel)]="story.maguffin " ></textarea>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="new-summary">Summary:</span>
        </div>
        <textarea class="form-control" name="summary" id="es-summary" [(ngModel)]="story.summary"></textarea>
      </div>
    </div>
    <button class="btn btn-success" type="button" (click)="save()">Save</button>
  </form>

<!--  <table class="table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Name</th>-->


<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let plot of story.plots">-->
<!--      <app-plot-loop [plotlist]="plot.subplots" *ngIf="plot.subplots"></app-plot-loop>-->
<!--      &lt;!&ndash;      <td><a class="link" [routerLink]="[plot.id]">{{plot.name}}</a></td>&ndash;&gt;-->
<!--    </tr>-->
<!--    </tbody>-->



<!--  </table>-->

<!--</div>-->

  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>

<!--  -->
<!--  <div class="col-md-6" *ngFor="let plot of story.plots">-->

<!--    <table class="table">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>Name</th>-->


<!--      </tr>-->
<!--      <tbody>-->
<!--      <tr>-->
<!--        <td><a class="link" [routerLink]="[plot.id]">{{plot.name}}</a></td>-->
<!--      </tr>-->
<!--      </tbody>-->



<!--    </table>-->
<!--  </div>-->
<!--  -->


<!--  <div class="row my-2">-->
<!--    <div class="col">-->
<!--    <button (click)="addPlot()" type="button" class="btn btn-sm btn-primary">Add Plot</button>-->
<!--      <table class="table">-->
<!--        <label>Plots</label>-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>Name</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr *ngFor="let plot of story.plots">-->
<!--&lt;!&ndash;          <td><a class="link" (click)="selectPlot(plot)"> {{plot.name}}</a></td>&ndash;&gt;-->
<!--            <td><a class="link" routerLink="plots"> {{plot.name}}</a></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<!--<hr/>-->
<!--      <div class="col">-->
<!--     <button routerLink="scene" type="button" class="btn btn-sm btn-primary">Add Scene</button>-->
<!--        <table class="table">-->
<!--          <label>Scenes</label>-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th>Name</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr *ngFor="let scene of story.scenes">-->
<!--            <td>{{scene.name}}</td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->

<!--      </div>-->
<!--    </div>-->

<!--  </div>-->

<router-outlet></router-outlet>
