<div *ngIf="!events">Events List</div>
<div>
  <button class="btn btn-success" type="button" (click)="createEvent()">Create Event</button>
  <div>


    <table class="table">
      <thead>

      <tr>
        <th>Name</th>
        <th>Location</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let event of events|async">
        <!--          <td><a class="link" [routerLink]="['/plots',plot.id]">{{plot.name}}</a></td>-->
        <!--            <td><a class="link" (click)="select(event)">{{event.name}}</a></td>-->
        <!--        <td><a class="link" [routerLink]="['event',event.id]" >{{event.name}}</a></td>-->
        <td><a class="link" [routerLink]="['event',event.id ]">{{event.name}}</a></td>
<!--        <td *ngIf="event.location"><a class="link" [routerLink]="['event',event.id,'location',event.location.id,]">{{event.location.name}}</a></td>-->
<!--        <td *ngIf="!event.location"><a class="link" [routerLink]="['event',event.id,'location','new']">Add Location</a></td>-->
      </tr>
      </tbody>


    </table>
  </div>
    <div class="row">
      <router-outlet></router-outlet>

    </div>
</div>
