<div>
  <div *ngIf="events">


    <table class="table" *ngIf="events.length >0">
      <thead>
      <tr>Events List</tr>
      <tr>
        <th>Name</th>
        <th>Type</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let event of events">
        <!--          <td><a class="link" [routerLink]="['/plots',plot.id]">{{plot.name}}</a></td>-->
<!--            <td><a class="link" (click)="select(event)">{{event.name}}</a></td>-->
        <td><a class="link" [routerLink]="['event',event.id]" >{{event.name}}</a></td>
        <td>{{event.type}}</td>
      </tr>
      </tbody>


    </table>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
