<div class="container my-3">

  <div class="row">
    <span>
      <h3>Location</h3><h4>{{ location.name}}</h4>
    </span>
    <div class="col-md-12">
      <form #form=ngForm>
        <div class="row">


          <div class="form-group col ">
            <label class="form-label mx-2">Name </label>
            <input name="name" class="form-control" type="text" [ngModel]="location.name"/>
          </div>

        </div>
        <div class="form-group" [hidden]="true">
          <label class="form-label">Id</label>
          <input name="id" class="form-control" type="text" [ngModel]="location.id"/>
        </div>

        <div class="form-group">
          <label class="form-label">Description</label>
          <textarea name="description" class="form-control" type="text" rows="4"
                    [ngModel]="location.description"></textarea>
        </div>
        <button *ngIf='newFlag' type="button" class="btn btn-outline-success m-2 end" (click)="save(form)">Save</button>
        <button *ngIf='!newFlag' type="button" class="btn btn-outline-primary my-2 end" (click)="update(form)">Update</button>
        <button *ngIf='eventId' type="button" class="btn btn-outline-primary my-2 end" (click)="link(form)">Link to Event</button>


      </form>
    </div>
    {{storyId}}
  </div>

</div>
